body {
    background-color: rgb(13, 27, 42);
}

h1, h2, h3, th {
    color: rgb(220, 220, 220);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1.5em;
}

p, input, label, tr, td, button {
    color: rgb(220, 220, 220);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@mixin section-layout {
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#input-section {
    @include section-layout();
    background-color: rgb(46, 71, 99);
    justify-content: space-between;
    padding-left: 15vw;
    padding-right: 15vw;
}

#table-section {
    @include section-layout();
    background-color: rgb(27, 38, 59);
}

.vertical-line {
    border: 1px solid white;
    height: 12rem;
}

.input-fields {
    button {
        display: block;
        margin: 2em 40% auto auto;
    }
}

.deleteRow-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    input {
        margin: 10px;
        width: 3rem;
    }
}

#clearButton {
    margin-top: 10px;
}

.input-div {
    display: flex;
    justify-content: end;
    margin: 10px;
    label {
        padding-left: 10px;
        padding-right: 10px;
    }
    input {
        margin-left: 10vw;
        width: 12rem;
        height: 1.8rem;
    }
}

table {
    border-collapse: collapse;
    width: 85vw;
}

td, th {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

th, .submit {
    background-color: rgb(44, 59, 88);
}

input {
    border-radius: 3px;
    background-color: rgb(13, 27, 42);
    border: none;
}

.submit {
    padding: 5px;
    cursor: pointer;
}

/****** Begin Media Queries ******/

@media screen and (max-width: 1200px) {
    .input-fields {
        margin-right: 20px;
    }
    .deleteRow-div {
        text-align: center;
        margin-left: 20px;
    }
}

@media screen and (max-width: 700px) {
    body {
        padding-top: 30px;
        font-size: 0.7em;
    }
    #input-section {
        flex-direction: column;
    }
    .input-div {
        margin: 5px;
        label {
            padding-left: 5px;
            padding-right: 5px;
        }
        input {
            margin-left: 10vw;
            width: 8rem;
            height: 1.8rem;
        }
    }
    .deleteRow-div {
        margin-top: 5em;
    }
    #table-section {
        table {
            font-size: 0.6rem;
        }
    }
    
}

@media screen and (max-width: 425px) {
    #input-section {
        margin: 10px;
    }
    .input-div {
        margin: 5px;
        input {
            width: 8rem;
            height: 1.8rem;
        }
    }
    #table-section {
        margin: 10px;
    }
    tr, th, input {
        font-size: 0.8em;
    }
    tr, th, td {
        padding: 5px;
        // width: 80%;
    }
}