/******* General HTML Elements *******/
body {
  background-color: rgb(13, 27, 42);
  margin: 0;
}

h1,
h2,
h3,
th {
  color: rgb(220, 220, 220);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1em;
}

p,
input,
label,
select,
option,
tr,
td,
button {
  color: rgb(220, 220, 220);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

input {
  padding: 1px 2px;
}

input,
select {
  border-radius: 3px;
  background-color: rgb(13, 27, 42);
  border: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.9);
}

/******* Input Section (Top) *******/
.input-section {
  margin: 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(46, 71, 99);
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 10vw;
  padding-right: 10vw;
}
.input-section h3 {
  flex-basis: 100%;
}

#clearButton {
  margin-top: 10px;
}

.input-div {
  display: flex;
  justify-content: end;
  margin: 10px;
}
.input-div label {
  padding-left: 10px;
  padding-right: 10px;
}
.input-div input {
  margin-left: 5rem;
  width: 12rem;
  height: 1.8rem;
  line-height: 1.2rem;
}
.input-div select {
  height: 1.8rem;
  width: 7rem;
  margin-left: 5rem;
}

#add-category {
  width: 4rem;
  margin: 0;
  margin-left: 1.2rem;
}

#categories-selected_title {
  text-align: center;
}

#item_window {
  margin: 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  background-color: rgb(27, 38, 59);
  width: 15rem;
  height: 10rem;
  padding: 1.2rem;
  overflow-y: scroll;
}
#item_window p {
  margin: 1rem;
}

.submit {
  display: block;
  margin: 2em 40% auto;
  padding: 5px;
  cursor: pointer;
}

#enter-button {
  margin: 1.5rem 37% auto;
  width: 4.5rem;
  height: 3rem;
  font-size: 1.2rem;
}

/****** Table Section (Middle) *******/
#table-section {
  margin: 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(27, 38, 59);
}

table {
  border-collapse: collapse;
  width: 85vw;
}

td,
th {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

th,
.submit {
  background-color: rgb(44, 59, 88);
}

/******* Deletion Section (Bottom) *******/
#deletion-section {
  border-radius: 10px;
  padding: 2rem 0;
  background-color: rgb(46, 71, 99);
  width: 30vw;
  margin-left: 35vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.deleteRow-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteRow-div input {
  margin: 10px;
  width: 3rem;
}
.deleteRow-div button {
  margin: 0;
}

.clear-section {
  justify-content: center;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 5rem;
  margin: 5vh 0 5vh 40%;
}

/****** Media Queries ******/
@media screen and (max-width: 1200px) {
  .input-fields {
    margin-right: 20px;
  }
  .deleteRow-div {
    text-align: center;
  }
}
@media screen and (max-width: 980px) {
  .input-section {
    margin: auto 10vw;
  }
}
@media screen and (max-width: 800px) {
  #deletion-section {
    width: 50vw;
    margin-left: 22.5vw;
  }
}
@media screen and (max-width: 580px) {
  tr,
  th,
  input {
    font-size: 0.9em;
  }
  tr,
  th,
  td {
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  body {
    padding-top: 30px;
    font-size: 0.7em;
  }
  h1 {
    font-size: 2rem;
  }
  h1,
  h2 {
    width: 80vw;
    margin-left: 10vw;
  }
  .input-section {
    margin: 5vw;
  }
  .input-fields {
    margin: 2rem auto;
  }
  .input-div {
    margin: 5px;
  }
  .input-div label {
    padding: 0 5px;
  }
  .input-div input {
    margin-left: 3rem;
    width: 8rem;
    height: 1.8rem;
  }
  .input-div select {
    margin-left: 3rem;
    width: 4.5rem;
    height: 1.8rem;
  }
  #add-category {
    width: 3rem;
    margin-left: 0.7rem;
  }
  #item_window {
    overflow: visible;
  }
  #item_window p {
    margin: 0.6rem;
  }
  #table-section {
    margin: 10px;
  }
  #deletion-section {
    width: auto;
    margin: 5vw;
  }
}
@media screen and (max-width: 350px) {
  #item_window {
    width: 12rem;
  }
}/*# sourceMappingURL=style.css.map */